################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/API
/Core/obj
/Framework/obj
/Framework/bin
/packages
/Core/bin/Release/net5.0/ZstdNet.dll
/Core/bin/Release/net5.0/WebBase.pdb
/Core/bin/Release/net5.0/WebBase.dll
/Core/bin/Release/net5.0/Utility.dll
/Core/bin/Release/net5.0/Ubiety.Dns.Core.dll
/Core/bin/Release/net5.0/System.Security.Cryptography.ProtectedData.dll
/Core/bin/Release/net5.0/System.Configuration.ConfigurationManager.dll
/Core/bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Core/bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Core/bin/Release/net5.0/Swashbuckle.AspNetCore.Swagger.dll
/Core/bin/Release/net5.0/runtimes/win/lib/netstandard2.0
/Core/bin/Release/net5.0/ref
/Core/bin/Release/net5.0/Newtonsoft.Json.dll
/Core/bin/Release/net5.0/Newtonsoft.Json.Bson.dll
/Core/bin/Release/net5.0/MySql.Data.dll
/Core/bin/Release/net5.0/Microsoft.OpenApi.dll
/Core/bin/Release/net5.0/Microsoft.Extensions.Logging.Log4Net.AspNetCore.dll
/Core/bin/Release/net5.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
/Core/bin/Release/net5.0/Microsoft.AspNetCore.JsonPatch.dll
/Core/bin/Release/net5.0/logs
/Core/bin/Release/net5.0/log4net.dll
/Core/bin/Release/net5.0/log4net.config
/Core/bin/Release/net5.0/K4os.Hash.xxHash.dll
/Core/bin/Release/net5.0/K4os.Compression.LZ4.Streams.dll
/Core/bin/Release/net5.0/K4os.Compression.LZ4.dll
/Core/bin/Release/net5.0/Google.Protobuf.dll
/Core/bin/Release/net5.0/Core.runtimeconfig.json
/Core/bin/Release/net5.0/Core.runtimeconfig.dev.json
/Core/bin/Release/net5.0/Core.pdb
/Core/bin/Release/net5.0/Core.exe
/Core/bin/Release/net5.0/Core.dll
/Core/bin/Release/net5.0/Core.deps.json
/Core/bin/Release/net5.0/BouncyCastle.Crypto.dll
/Core/bin/Release/net5.0/appsettings.json
/Core/bin/Release/net5.0/appsettings.Development.json
/Core/bin/Release/net5.0
